.container{
	display : flex;
	flex-direction: column;
}

.wrapper{
	margin: 10px 0;
}

select {
  padding: 10px;
  border: none; 
  border-radius: 4px; 
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); 
  cursor: pointer; 
	background-color: #323339;
	color: #ffffff;
}


