.imageContainer{
	width: 360px;
	height: 240px;
	margin: 10px 0;
	overflow: hidden;
	border: 4px dashed #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color: #ffffff;
}

.imageContainer:hover{
	background-color: #323339;
}

.imageContainer.solidBorder{
	border: 2px solid #ffffff;
}

.uploadPrompt{
	text-align: center;
}

.plusIcon{
	font-size: 24px;
}

.imageContainer img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

input[type="file"]{
	display: none;
}