.navbar{
	background-color: #000000;
	position: sticky;
	color: #8c8c8c;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 20px;
	height: 50px;
	top: 0;
	z-index: 1000;
}

.logo{
	cursor: pointer;
	transition: color 0.3s;
}

.logo:hover{
	color: #ffffff;
}

.navItems{
	display: flex;
	flex-direction: row;
}

.navIcons{
	display: flex;
	flex-direction: row;
	align-items: right;
}

.navItem, .navIcon {
  margin-right: 20px;
  cursor: pointer;
  transition: color 0.3s; 
}

.navItem:hover, .navIcon:hover {
  color: #ffffff; 
}
