.navbar{
  background-color: #D0B0FF; 
  height: 50px; 
  width: 100%;
  position: fixed;
	margin-bottom: 20px; 
	/* fixed 속성 사용하는 요소들이 흐름에서 벗어남. */
  top: 0; 
  left: 0; 
  z-index: 1000; 
  box-shadow: 0 2px 4px rgba(0,0,0,0.1); 
}