
.button_container{
	display: flex;
	margin: 0 auto;
	background-color: #2B2C31;
	border-radius: 10px;
	width: 30%;
	justify-content: center;
}

.button_wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	border: 20px;
}

.button{
	margin: 10px;
	padding: 10px;
	width: 60px;
	height: 60px;
	background-color: #ffffff;
	color: #000000;
	border-radius: 10px;
	border: 2px solid #ffffff;
	font-size: 25px;
}

.button:hover{
	border: 2px solid #32A4FF;
}
