.userInfoLayout {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
	background-color: #000000;
	overflow-x: hidden;
}

.content {
	display: flex;
	margin: 0 auto;
	padding-top: 20px;
	align-items: flex-start;
}

