.mainLayout {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}

.content {
	display: flex;
	margin: 0 auto;
	padding-top: 50px; 
}

.childrenWrapper{
	flex : 1;
}

.rightNavBarWrapper{
	display: flex;
	flex-direction: column;
}